<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @candidate_detail.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @candidate_detail.last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate_detail.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate_detail.phone %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @candidate_detail.degree %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @candidate_detail.percentage %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @candidate_detail.experience %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @candidate_detail.platform %>
</p>

<%= link_to 'Download', @candidate_detail.file, download: '' %>

<%= link_to 'Edit', edit_candidate_detail_path(@candidate_detail) %> |
<%= link_to 'Back', candidate_details_path %>
